.cmn_cont{
	
  margin:3px;
    border: 4px solid #73AD21;
    background-color: beige;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}
.cmn_descr{
	display: inline;
    font-size: 1.5em;
    font-weight:bold;
    color:blue;
}
.cmn_cntdescr{

	margin:3px;
    font-size: 1.2em;
	color:blue;
}
.cmn_btn{
 width: 99%;
 height: 50px;
 margin-top: 5px;
}
.cmn_cnt{
	float:left;
	width:100%;
}
.cmn_nav{
	float:left;
	width:100%;
}
.cmn_cnt_item{
	float:left;
	width:100%;
}
.cmn_cont_click{
	    opacity: 0.2;
}
.cmn_nav_item{
	margin: 5px;
}
.cmn_bcont{
	float:left;
    width: 100%;
	height: 100%;
}

.cmn_tbl th, td {
  padding: 3px;
  border: 1px solid coral;
  text-align: center;
}
.cmn_tbl{
width:auto;
font-size: 1em;
}
.cmn_interactive{
    border-width: 2px;
}
.cmn_interactive:hover{
    outline:3px solid green;
    cursor: default;
}
.cmn_selected{
    background-color: lightblue;
    border-color: blue;
}
.cmn_active{
    font-weight: bold;
    color:green;
}
.cmn_img{
    float:left;
    width:30px;
    margin-left: 3px;
    margin-right: 3px;
}
.cmn_expimg{
    width:30px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline;
}
.cmn_dis{
    opacity: 0.2;
    color:black;
}
.cmn_higher{
    color:red;
}
.cmn_good{
    color: green;
}
.cmn_lower{
    color: blue;
}
.cmn_updated_init .cmn_init{
    background-color: yellow;
    opacity: 1;
}

.cmn_updated_cmn_runtime .cmn_cmn_runtime{
    background-color: yellow;
    opacity: 1;
}

.cmn_updated_cmn_init .cmn_cmn_init{
    background-color: yellow;
    opacity: 1;
}

.cmn_updated{
    border-color: greenyellow;
    background-color: yellow;
    opacity: 1;
}
.cmn_group{
    float:left;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    border-bottom: 3px dashed burlywood;
}
.cmn_nav_firm{
	background-color: beige;
}
.cmn_nav_block{
	background-color: beige;
}
.cmn_nav_rack{
	background-color: beige;
}
.cmn_nav_hive{

}
